extends layout

block content
  doctype html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(rel='icon' type='image/x-icon' href='images/nowicon.png')
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    script(src="https://unpkg.com/swiper/swiper-bundle.js")
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
  header.bg-primary.text-black
    .slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide.ss1
            .container
              .row
                h3 &#xC5B4;&#xBCA4;&#xC838;&#xC2A4; : &#xC564;&#xB4DC;&#xAC8C;&#xC784;
                p &#xC5ED;&#xB300; &#xCD5C;&#xB2E8; &#xAE30;&#xAC04; 1000&#xB9CC; &#xAD00;&#xAC1D; &#xB3CC;&#xD30C; &#xAE30;&#xB85D; 
          .swiper-slide.ss2
            .container
              .row
                h3 &#xC5B4;&#xBCA4;&#xC838;&#xC2A4; : &#xC564;&#xB4DC;&#xAC8C;&#xC784;
                p &#xC5ED;&#xB300; &#xCD5C;&#xB2E8; &#xAE30;&#xAC04; 1000&#xB9CC; &#xAD00;&#xAC1D; &#xB3CC;&#xD30C; &#xAE30;&#xB85D; 
          .swiper-slide.ss3
            .container
              .row
                h3 &#xC5B4;&#xBCA4;&#xC838;&#xC2A4; : &#xC564;&#xB4DC;&#xAC8C;&#xC784;
                p &#xC5ED;&#xB300; &#xCD5C;&#xB2E8; &#xAE30;&#xAC04; 1000&#xB9CC; &#xAD00;&#xAC1D; &#xB3CC;&#xD30C; &#xAE30;&#xB85D; 
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next

  section#about
    .container
      .row
        .col-lg-8.mx-auto
          h2 최신영화 목록
          p.lead
            | This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:
          ul
            li Clickable nav links that smooth scroll to page sections
            li Responsive behavior when clicking nav links perfect for a one page website
            li
              | Bootstrap&apos;s scrollspy feature which highlights which section of the page you&apos;re on in the navbar
            li Minimal custom CSS so you are free to explore your own unique design options
  section#services.bg-light
    .container
      .row
        .col-lg-8.mx-auto
          h2 맞춤 영화
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.
  section#contact
    .container
      .row
        .col-lg-8.mx-auto
          h2 확진자 조회
          p.lead
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.
  // Footer
  footer.py-5.bg-dark
    .container
      p.m-0.text-center.text-white Copyright &copy; Now Movie 2021
      p.m-0.text-center.text-white E-mail : gkswn911@naver.com
      p.m-0.text-center.text-white TEL : 010-5015-6913