doctype html
html
  head
    title= "나우무비"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/slider.css')
    script(src='/javascripts/scripts.js')
    //-  Bootstrap core JS
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')
    //-  Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')
    //- Icon
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
    //-  Core theme JS
    //- script(src='../public/javascripts/scripts.js')
    //-  Navigation
    
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-nav.fixed-top
      .container
        img(src='images/nowicon1.png' alt='My Image' id="navImage")
        p.lead#NavText 영화에 대한 모든것 나우무비
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') 최신 영화
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#services') 맞춤 영화
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') 확진자 조회
        .box#search
          .container-4
            form(action='/search' method='post')
              input#search(type='text' name="title")
              button.icon(type='submit')
                i.fa.fa-search
  body
    block content
      
        
