extends layout

block content
    doctype html
    head
        title ="Search Result!!"
    p
        | &#xCE21;&#xC815;&#xC7A5;&#xC18C; 
        span#sear0(name='se0')
    footer.py-5.bg-dark
        .container
            p.m-0.text-center.text-white Copyright &copy; Now Movie 2021
            p.m-0.text-center.text-white E-mail : gkswn911@naver.com
            p.m-0.text-center.text-white TEL : 010-5015-6913